<section class="surface-0 app-bg-body">
  <div class="grid mb-3">
    <div *ngFor="let stat of schoolStats" class="app-bg-body col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round border-round-xl">
        <div class="flex justify-content-between align-content-center mb-1 p-2">
          <div>
            <span class="block text-500 font-medium mb-3">{{stat.name}}</span>
            <div class="text-900 font-bold text-2xl">{{stat.value}}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-blue-50 border-round"
            style="width:4.5rem;height:4.5rem">
            <i class="fas fa-light fa-{{stat.icon}} text-blue-600 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col-12 md:col-6 app-bg-body">
      <div class="surface-card shadow-2 p-3 border-round border-round-xl">
        <div class="flex justify-content-between py-3 px2">
          <span i18n>Title</span>
          <i class="pi pi-ellipsis-v"></i>
        </div>
        <div class="card">
          <p-table [value]="users">
            <ng-template pTemplate="header">
              <tr>
                <th i18n>ID</th>
                <th i18n>Username</th>
                <th i18n>Date</th>
              </tr>
            </ng-template>
            <ng-template let-u pTemplate="body">
              <tr>
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.date}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 app-bg-body">
      <div class="surface-card shadow-2 p-3 border-round border-round-xl">
        <div class="flex justify-content-between py-3 px2">
          <span i18n>Posts</span>
          <i class="pi pi-ellipsis-v"></i>
        </div>
        <div class="card">
          <p-table [value]="posts">
            <ng-template pTemplate="header">
              <tr>
                <th i18n>Title</th>
                <th i18n>Date</th>
              </tr>
            </ng-template>
            <ng-template let-p pTemplate="body">
              <tr>
                <td>{{p.title}}</td>
                <td>{{p.date}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</section>
