<section *ngIf="userPayload" class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <app-avatar [firstname]="userPayload.user.firstname" [lastname]="userPayload.user.lastname"></app-avatar>
          <h2>Kevin Anderson</h2>
          <h3>Web Designer</h3>
          <div class="social-links mt-2">
            <a class="twitter" href="#"><i class="bi bi-twitter"></i></a>
            <a class="facebook" href="#"><i class="bi bi-facebook"></i></a>
            <a class="instagram" href="#"><i class="bi bi-instagram"></i></a>
            <a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">Overview</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-target="#profile-edit" data-bs-toggle="tab">Edit Profile</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-target="#profile-settings" data-bs-toggle="tab">Settings</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-target="#profile-change-password" data-bs-toggle="tab">Change Password
              </button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                <div class="col-lg-9 col-md-8">{{fullName}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Company</div>
                <div class="col-lg-9 col-md-8">Test Organisation</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Role</div>
                <div class="col-lg-9 col-md-8">{{ userPayload.account?.role ?? 'User' }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Country</div>
                <div class="col-lg-9 col-md-8">Cameroon</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">{{userPayload.user.address}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">{{userPayload.user.phone}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{userPayload.user.email}}</div>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form [formGroup]="editProfileForm">
                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="firstname">First Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" formControlName="firstname" id="firstname" name="fullName" type="text">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="lastname">Last Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" formControlName="lastname" id="lastname" name="fullName" type="text">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="company">Organisation</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="company" name="company" type="text" value="Test Organisation">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Country">Country</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="Country" name="country" type="text" value="Cameroon">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Address">Address</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" formControlName="address" id="Address" name="address" type="text">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Phone">Phone</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" formControlName="phone" id="Phone" name="phone" type="text">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Email">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" formControlName="email" id="Email" name="email" type="email">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Twitter">Twitter Profile</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="Twitter" name="twitter" type="text" value="https://twitter.com/#">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Facebook">Facebook Profile</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="Facebook" name="facebook" type="text"
                           value="https://facebook.com/#">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Instagram">Instagram Profile</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="Instagram" name="instagram" type="text"
                           value="https://instagram.com/#">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="Linkedin">Linkedin Profile</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="Linkedin" name="linkedin" type="text"
                           value="https://linkedin.com/#">
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">

              <!-- Settings Form -->
              <form>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="fullName">Email Notifications</label>
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input checked class="form-check-input" id="changesMade" type="checkbox">
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input checked class="form-check-input" id="newProducts" type="checkbox">
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" id="proOffers" type="checkbox">
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input checked class="form-check-input" disabled id="securityNotify" type="checkbox">
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
              </form><!-- End settings Form -->

            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="currentPassword">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="currentPassword" name="password" type="password">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="newPassword">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="newPassword" name="newpassword" type="password">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-md-4 col-lg-3 col-form-label" for="renewPassword">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" id="renewPassword" name="renewpassword" type="password">
                  </div>
                </div>

                <div class="text-center">
                  <button class="btn btn-primary" type="submit">Change Password</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>
