<div class="surface-section">
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Academic Years">
      <form class="formgrid grid">
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl" i18n>Academic Year Details</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label for="year1" i18n>Start Year</label>
              <input class="w-full p-inputtext-sm" id="year1" pInputText>
            </div>
            <div class="field col-12">
              <label for="year2" i18n>End Year</label>
              <input class="w-full p-inputtext-sm" id="year2" pInputText>
            </div>
            <div class="field col-12">
              <label class="block mb-2" for="effective"  i18n>Effective Date</label>
              <p-calendar id="effective" styleClass="w-full p-inputtext-sm"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl " i18n>Previous Year Cycles</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label for="address1" i18n>Address Line 1</label>
              <input class="w-full p-inputtext-sm" id="address1" pInputText>
            </div>
          </div>
        </div>
        <div class="col-4 gap-2 flex flex-wrap gap-1">
          <p-button label="Save" styleClass="p-button-sm"></p-button>
          <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
        </div>
      </form>
    </p-accordionTab>
    <p-accordionTab header="Terms">
      <form class="formgrid grid">
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl" i18n>Term Details</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label class="block mb-2" for="year1" i18n>Term</label>
              <p-dropdown placeholder="Select Term" styleClass="w-full"></p-dropdown>
            </div>
            <div class="field col-12">
              <label for="termName"  i18n>Name</label>
              <input class="w-full p-inputtext-sm" id="termName" pInputText>
            </div>
            <div class="field col-12">
              <label for="termType"  i18n>Type</label>
              <input class="w-full p-inputtext-sm" id="termType" pInputText>
            </div>
            <div class="field col-12">
              <label class="block mb-2" for="termEffective"  i18n>Effective Date</label>
              <p-calendar id="termEffective" styleClass="w-full p-inputtext-sm"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl "  i18n>Regular Terms</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label for="address1" i18n>Address Line 1</label>
              <input class="w-full p-inputtext-sm" id="address1" pInputText>
            </div>
          </div>
        </div>
        <div class="col-4 gap-2 flex flex-wrap gap-1">
          <p-button label="Save" styleClass="p-button-sm"></p-button>
          <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
        </div>
      </form>
    </p-accordionTab>
    <p-accordionTab header="Sequences">
      <form class="formgrid grid">
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl" i18n>Sequence Details</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label class="block mb-2" for="year1" i18n>Sequence</label>
              <p-dropdown placeholder="Select Term" styleClass="w-full"></p-dropdown>
            </div>
            <div class="field col-12">
              <label for="termName" i18n>Name</label>
              <input class="w-full p-inputtext-sm" id="sequenceName" pInputText>
            </div>
            <div class="field col-12">
              <label for="termType" i18n>Type</label>
              <input class="w-full p-inputtext-sm" id="sequenceType" pInputText>
            </div>
            <div class="field col-12">
              <label class="block mb-2" for="termEffective" i18n>Effective Date</label>
              <p-calendar id="sequenceEffective" styleClass="w-full p-inputtext-sm"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="pb-3">
            <span class="text-xl " i18n>Regular Sequences</span>
          </div>
          <div class="grid">
            <div class="field col-12">
              <label for="address1" i18n>Address Line 1</label>
              <input class="w-full p-inputtext-sm" id="address1" pInputText>
            </div>
          </div>
        </div>
      </form>
    </p-accordionTab>
  </p-accordion>
</div>
