<div class="surface-card">
  <form class="formgrid grid">
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl">Email Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="mail1">Primary Email</label>
          <input id="mail1" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12">
          <label for="mail2">Secondary Email</label>
          <input id="mail2" pInputText class="w-full p-inputtext-sm">
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl">Phone Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="phone1">Phone Number</label>
          <input id="phone1" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12">
          <label for="phone2">Alternative Phone Number</label>
          <input id="phone2" pInputText class="w-full p-inputtext-sm">
        </div>
      </div>
    </div>
    <div class="col-4 gap-2 flex flex-wrap gap-1">
      <p-button label="Save" styleClass="p-button-sm"></p-button>
      <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
    </div>
  </form>
</div>
