<div class="surface-card">
  <form class="formgrid grid">
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl"  i18n>Email Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="mail1"  i18n>Primary Email</label>
          <input class="w-full p-inputtext-sm" id="mail1" pInputText>
        </div>
        <div class="field col-12">
          <label for="mail2"  i18n>Secondary Email</label>
          <input class="w-full p-inputtext-sm" id="mail2" pInputText>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl"  i18n>Phone Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="phone1"  i18n>Phone Number</label>
          <input class="w-full p-inputtext-sm" id="phone1" pInputText>
        </div>
        <div class="field col-12">
          <label for="phone2"  i18n>Alternative Phone Number</label>
          <input class="w-full p-inputtext-sm" id="phone2" pInputText>
        </div>
      </div>
    </div>
    <div class="col-4 gap-2 flex flex-wrap gap-1">
      <p-button label="Save" styleClass="p-button-sm"></p-button>
      <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
    </div>
  </form>
</div>
