<app-datatable *ngIf="table" [table]="table"></app-datatable>
<p-table [value]="data" [title]="title">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-d>
    <tr>
      <td>{{d.id}}</td>
      <td>{{d.name}}</td>
      <td>
        <p-button
          [routerLink]="[AppRoute.APP_ORG_SCHOOLS_VIEW.path + '/' + d.id]"
          label="View"
          styleClass="p-button-sm p-button-raised">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
