<div class="surface-card">
  <form class="formgrid grid">
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl">Basic Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="name">Name</label>
          <input id="name" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12">
          <label for="motto">Motto</label>
          <input id="motto" pInputText class="w-full p-inputtext-sm">
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl ">Address Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="address1">Address Line 1</label>
          <input id="address1" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12 md:col-6">
          <label for="country">Country</label>
          <input id="country" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12 md:col-6">
          <label for="region">State / Region</label>
          <input id="region" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12 md:col-6">
          <label for="city">City</label>
          <input id="city" pInputText class="w-full p-inputtext-sm">
        </div>
        <div class="field col-12 md:col-6">
          <label for="zip">ZIP / Postal Code</label>
          <input id="zip" pInputText class="w-full p-inputtext-sm">
        </div>
      </div>
    </div>
    <div class="col-4 gap-2 flex flex-wrap gap-1">
      <p-button label="Save" styleClass="p-button-sm"></p-button>
      <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
    </div>
  </form>
</div>
