<div class="surface-card">
  <form class="formgrid grid">
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl" i18n>Basic Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="name" i18n>Name</label>
          <input class="w-full p-inputtext-sm" id="name" pInputText>
        </div>
        <div class="field col-12">
          <label for="motto" i18n>Motto</label>
          <input class="w-full p-inputtext-sm" id="motto" pInputText>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="pb-3">
        <span class="text-xl " i18n>Address Details</span>
      </div>
      <div class="grid">
        <div class="field col-12">
          <label for="address1" i18n>Address Line 1</label>
          <input class="w-full p-inputtext-sm" id="address1" pInputText>
        </div>
        <div class="field col-12 md:col-6">
          <label for="country" i18n>Country</label>
          <input class="w-full p-inputtext-sm" id="country" pInputText>
        </div>
        <div class="field col-12 md:col-6">
          <label for="region" i18n>State / Region</label>
          <input class="w-full p-inputtext-sm" id="region" pInputText>
        </div>
        <div class="field col-12 md:col-6">
          <label for="city" i18n>City</label>
          <input class="w-full p-inputtext-sm" id="city" pInputText>
        </div>
        <div class="field col-12 md:col-6">
          <label for="zip" i18n>ZIP / Postal Code</label>
          <input class="w-full p-inputtext-sm" id="zip" pInputText>
        </div>
      </div>
    </div>
    <div class="col-4 gap-2 flex flex-wrap gap-1">
      <p-button label="Save" styleClass="p-button-sm"></p-button>
      <p-button label="Cancel" styleClass="p-button-sm p-button-secondary"></p-button>
    </div>
  </form>
</div>
