<p-tabView [scrollable]="true" styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i [class]="faIcon('toolbox')"></i>&nbsp;
      <span>General</span>
    </ng-template>
    <app-sch-settings-general></app-sch-settings-general>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i [class]="faIcon('address-card')"></i>&nbsp;
      <span>Contact</span>
    </ng-template>
    <app-sch-settings-email></app-sch-settings-email>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i [class]="faIcon('money-bill')"></i>&nbsp;
      <span>Fees</span>
    </ng-template>
    <app-sch-settings-fees></app-sch-settings-fees>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i [class]="faIcon('arrows-spin')"></i>&nbsp;
      <span>Cycles</span>
    </ng-template>

    <app-sch-settings-cycles></app-sch-settings-cycles>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i [class]="faIcon('list-check')"></i>&nbsp;
      <span>Other</span>
    </ng-template>
    <app-sch-settings-other></app-sch-settings-other>
  </p-tabPanel>
</p-tabView>
