/* You can add global styles to this file, and also import other style files */

@import "assets/css/app.css";
@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeflex/primeflex.min.css";
@import "node_modules/primeicons/primeicons.css";
